@font-face {
    font-family: 'mtavruli';
    src: url('../../public/mtavruli.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-200 !important;
    z-index: 1;
}

body {
    background-color: #FEFEFE;
}


#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}