@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* @font-face {
    font-family: 'mtavruli';
    src: url('../../public/mtavruli.ttf') format('truetype');
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F9F9FF;
    color: #191C20;
}

.dark body {
    background-color: #121B18;
    color: #E2E2E9 !important;
}


#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}